{% extends "base.html" %}

{% block style_block %}
<style>
.table
{
	width : 60% !important;
	
	margin-top: 20px;
	margin-right: 20%;
	margin-left: 20%;
	float: none !important;
}	
</style>
{% endblock %}

{% block content %}

<table class="table">
	<thread>
		{% for row in data %}
		<tr>
			<td>{{ row[0] }}</td>
			<td>{{ row[1] }}</td>
			<td>{{ row[2] }}</td>
		</tr>
		{% endfor %}
</table>

{% endblock content %}

{% block footer %}
    
{% endblock footer %}

{% block tail_script %}
    
{% endblock tail_script %}
